@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cookie&family=Dancing+Script:wght@500&family=Grape+Nuts&family=Lobster&family=Merriweather&family=Montserrat+Alternates:wght@500&family=Oswald:wght@500&family=Quantico&family=Roboto:wght@500&family=Teko:wght@500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.card:hover {
  border: 5px;
  border-color: #c4c4c4;
  border-style: dashed;
}

.scroll-container {
  height: 112px;
  width: 479px;
  border: solid 1px #c4c4c4;
  border-radius: 5px;
  padding: 10px;
}
